
:root {
    --calc-bg: #1f1f1f;
    --display-bg: #33383f;

    --font-01: #e3e3e3;
    --font-02: #001d35;
    
    --digit-btn: #282a2d;
    --op-btn: #5ab3f0;
    --equals-btn: #d3e3fd;
    --ac-btn: #c4eed0;
}

.calculator {
    background: var(--calc-bg);
    width: 240px;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 110px;
}

.buttons-wrap {
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 56px 56px 56px 56px 56px;
}