@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #73777a, #30455c);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  -webkit-tap-highlight-color: transparent;
}
